#homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#homepage > div {
    max-width: 55vw;
    padding: 1%;
}

.topStats {
    display: flex;
    justify-content: space-between;
}

.wordCount > span:hover {
    cursor: pointer;
}

/*middle box styling*/
div:nth-child(2) > div{
    padding: 1%;
    min-height: 1vh;
}